.task {
    margin-top: 50px;
    .container {
      .column {
        .headText {
          display: flex;
            justify-content: space-between;
          h1 {
            font-weight: bold;
            font-size: 32px;
          }
  
          button {
            border: none;
            outline: none;
            background-color: #db551b;
            color: #fff;
            padding: 7px 10px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
  
        .table {
          margin-top: 20px;
          width: 100%;
          overflow-x: auto; // Bu, tablo içeriği çok genişse kaydırılmasını sağlar.
  
          table {
            width: 100%;
            border-collapse: collapse;
  
            thead {
              tr {
                background-color: #f1f1f1;
                border-bottom: 2px solid #d1d1d1;
              }
  
              th {
                padding: 10px;
                text-align: left;
                font-weight: bold;
                border-right: 1px solid #d1d1d1;
              }
            }
  
            tbody {
              tr {
                border-bottom: 1px solid #d1d1d1;
                
                &:nth-child(even) {
                  background-color: #f9f9f9;
                }
  
                td {
                  padding: 10px;
                  border-right: 1px solid #d1d1d1;
                }
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .container {
        .column {
          .headText {
            flex-direction: column;
            align-items: flex-start;
  
            h1 {
              font-size: 24px;
            }
  
            button {
              padding: 5px 8px;
              font-size: 14px;
            }
          }
  
          .table {
            overflow-x: auto;
            
            table {
              thead {
                th {
                  padding: 8px;
                  font-size: 14px;
                }
              }
  
              tbody {
                td {
                  padding: 8px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 480px) {
      .container {
        .column {
          .headText {
            h1 {
              font-size: 20px;
            }
  
            button {
              padding: 4px 6px;
              font-size: 12px;
            }
          }
  
          .table {
            overflow-x: auto;
  
            table {
              font-size: 12px;
  
              thead {
                th {
                  padding: 6px;
                }
              }
  
              tbody {
                td {
                  padding: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
  